.readmore {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
}
p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
