body {
  background-color: #2B3A55;
}

h1 {
  color: #CE7777;
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 2rem;
}
h2 {
  color: #E8C4C4;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 1.5rem;
}
